* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f3f3f3;
  line-height: 1.6;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

/* Utility Classes */
.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: auto 2rem;
}

.card-container {
  padding: 30px;
  margin-top: 2rem;
  background-color: white;
  width: 100%;
  border-radius: 5px;
}

/* header */

.header-flex {
  display: flex;
  background-color: #93b874;
  align-items: center;
  height: 90px;
  justify-content: space-between;
}

.header {
  background-color: #93b874;
}

.header img {
  width: 270px;
}

.nav img {
  width: 30px;
}
.logo {
  margin-top: 8px;
  margin-left: -5.2rem;
}

.nav {
  height: 90px;
  width: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  color: #475347;
  border-left: 2px solid rgba(245, 245, 245, 0.1);
  border-right: 2px solid rgba(245, 245, 245, 0.1);
  transition: transform 0.3s ease-in-out;
}

.navlinks a:hover {
  background-color: #88a46c;
}

.navlinks a:hover img {
  transform: scale(1.1);
}

/* Introduction */


.intro-card .title p {
  color: #777777;
  margin-top: 5px;
  font-style: italic;
  font-size: 18px;
}

.overview p {
  color: #545454;
  margin-top: 2rem;
  font-size: 20px;
}

.usability-card{
  display:grid;
  grid-template-rows: 0.4fr 3.8fr 0.5fr 0.5fr;
  grid-template-columns: 0.15fr 1fr 1fr 0.10fr;
  padding: 0;
  border-radius: 5px 5px 5px 5px;
}

.usab-title{
  border-radius: 5px 0 0 0 ;
  padding: 5px;
  display: flex;
  background-color: #93b874;
  color: #f3f3f3;
  font-weight: bold;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

.usab-title > p:nth-child(2){
  font-size: 1.2rem;
}

.usab-title p {
  letter-spacing: -0.05em; /* Adjust the value as needed */
  margin: -3px 0;
}

.usab-title-text{
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  grid-column: 2/6;
  padding-left: 1rem;
}

.usab-img-container{
  grid-column: 1/5 span;
}

.usab-img-container img{
  width: 100%;
  height: auto;
  object-fit: contain;
}

.content-no{
  display: flex;
  justify-content: end;
  align-items: center;
  font-size: 1.8rem;
}

.content{
  padding-left: 1rem;
  display: flex;
  align-items: center ;
  grid-column: 2/2 span;
}

.content span{
  font-weight: bold;
}

.content-continue{
  grid-column: 2/2 span;

}

.content-continue ul{
  list-style-type: disc;
  padding-left: 3rem;

}

.usability-sub-card{
  display: grid;
  grid-template-columns: 0.15fr 1fr 1fr 0.10fr;
  grid-template-rows: 1fr 1fr 0.5fr 0.5fr;
  padding: 0;
}

.usab-sub-img-container{
  grid-column: 1/4 span;
  grid-row: 1/2 span;
}

.sub-content-no{
  display: flex;
  justify-content: end;
  align-items: center;
  font-size: 1.8rem;
}

.sub-content{
  padding-left: 1rem;
  display: flex;
  align-items: center ;
  grid-column: 2/3 span;
}